/* Global styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
body {
  background: rgb(33, 33, 33);
}

/* Navigation bar */
nav {
  position: relative;
  background-color: #333;
  height: 3rem;
  border-bottom: 1.2px solid #00ff00;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div ul {
  display: flex;
  margin-top: 4px;
}

li {
  list-style-type: none;
  font-size: 14px;
  letter-spacing: 1.05px;
  font-weight: 400;
}

li:last-child {
  margin-left: 2rem;
}

li:hover {
  cursor: pointer;
  color: #00ff00;
  transition: color 0.8s;
}

.logo {
  height: 3rem;
}

/* Wrapper for width control */
.width-center {
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
}

/* Unique word highlighting */
.word-highlight {
  color: #00ff00;
}

/* Main landing section */
.main {
  position: relative;
  margin-top: 6rem;
  height: 300px;
}

.main-flexcontainer {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 2.4rem;
}

.learn-more {
  all: unset;
  background-color: #333;
  border: 3px solid #00ff00;
  height: 3rem;
  width: 10rem;
  border-radius: 30px;
  text-align: center;
  margin-top: 3rem;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.learn-more:hover {
  color: #333;
  cursor: pointer;
  background-color: #00ff00;
}

/* Divider */
.details:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 500%;
  background: #00ff00;
  transform: skewY(-12deg);
  z-index: -1;
}

/* Details */
.details {
  position: relative;
  padding-top: 6rem;
}

.details h2 {
  color: #333;
}

/* Media queries styling for mid to large size screens */
@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 4rem;
  }
}
